.home {
  width: 100vw;
  height: 100vh;
  background-image: url(../../images/pages/home/homeMainBanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .home-logo {
    width: 90px;
    height: 90px;
  }
}